/*
* Common HTML elements
* ********************/

html {
	font-size: 2px;
}

body {
	background: #505050;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--background: #333;
	--color: white;
}

body.light {
	--color: black;
}

/*
* Desktop
* *******/

.desktop {
	background: red;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
}

.desktop .taskbar {
	height: 24rem;
	background: blue;
}

.desktop section {
	position: relative;
	height: calc(100vh - 24rem);
	height: calc(100dvh - 24rem);
	background: aqua;
	padding: 2rem 4rem 4rem 2rem;
	box-sizing: border-box;
}
