/*
* Common HTML elements
* ********************/

html {
	font-size: 2px;
}

body {
	background: #333;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--text: #ffffff;

	--surface: #3d3d3d;
	--surface-glow: #e7e7e7;
	--surface-shadow: #737173;
	--surface-shadow-darker: #000000;

	--border: #000000;

	--title: #191919;
	--title-text: #ededed;

	--button-filter: none;
}

body.light {
	--text: #000000;

	--surface: #bdbebd;
	--surface-glow: #f0f0f0;
	--surface-shadow: #999999;
	--surface-shadow-darker: #424242;

	--border: #050606;

	--title: #1b1a67;
	--title-darker: #080831;
	--title-text: #ededed;

	--button-filter: invert();
}

/*
* Desktop
* *******/

.desktop {
	--taskbar-height: 20rem;

	display: grid;
	grid-template-rows: var(--taskbar-height) 1fr;

	height: 100vh;
	height: 100dvh;
	background: #008a8c;
}

.desktop .taskbar-area {
	padding: 0;
	position: relative;
}

.desktop .window-area {
	position: relative;
}
