/*
* Common HTML elements
* ********************/

html {
	font-size: 2px;
}

body {
	overflow: hidden;
	background: #333;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--text: #ffffff;
}

body.light {
	--text: #000000;
	--text-invert: #ffffff;

	--surface: #bdbdbd;
	--surface-glow: #ffffff;
	--surface-shadow: #7a7a7a;
	--surface-shadow-darker: #050505;

	--border: #050505;

	--title: #074a40;
	--title-darker: #020202;
	--title-text: #ededed;

	--button-filter: invert();

	--desktop-background: #0a4577;
}

/*
* Desktop
* *******/

.desktop {
	--taskbar-height: 20rem;

	display: grid;
	grid-template-rows: var(--taskbar-height) 1fr;

	height: 100vh;
	height: 100dvh;
	background: var(--desktop-background);
}

.desktop .taskbar-area {
	padding: 0;
	position: relative;
}

.desktop .workspace-area {
	position: relative;
}
