body {
	margin: 0px;
	font-size: 9pt;
	line-height: 1.2em;
	font-family: 'OpenSans', sans-serif;
	padding-top: 5mm;

	--blue: #262873;
	--gray: #b0b3b8;
	--light-gray: #d0d3d8;
}

.document {
	width: 160mm;
	margin: 0 auto;
}

.document p {
	margin-bottom: 1em;
}

.document ul {
	background: gray;
}

.document h1 {
	font-family: 'Deluxe', sans-serif;
	font-size: 18pt;
	width: 50mm;
	line-height: 1.2em;
	color: var(--blue);
	float: left;
	padding: 5mm;
}

.document h2 {
	font-family: 'Deluxe', sans-serif;
	font-size: 9pt;
	margin-bottom: 1em;
	padding: .5em;
	padding-top: .8em;
	background: var(--blue);
	color: white;
	line-height: 1em;
}

/* Custom attributes */

.document .clear {
	clear: both;
}

.document .title {
	color: var(--blue);
	font-weight: bold;
	margin: 0;
	font-size: 12pt;
	margin-bottom: .5em;
	padding-top: .5em;
}

.document .title + p {
	opacity: .7;
	font-size: 8pt;
}

.document .avatar {
	float: left;
	width: 30mm;
	background: var(--gray);
	padding: 3pt;
	box-shadow: 2pt 2pt var(--blue);
}

.document .avatar img {
	display: block;
	margin: 0;
	width: 100%;
}

.document .window {
	margin: 0;
	margin-top: 2em;
	box-shadow: 2pt 2pt var(--blue);
	padding-top: .8em;
}

.document .window + ul {
	padding: 1em;
	margin-bottom: 3em;
	background: var(--light-gray);
	box-shadow: 2pt 2pt var(--blue);
}
