/*
* Common elements
* **************/

html {
	font-size: 2px;
}

body {
	background: #505050;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--color: white;
}

body.light {
	--color: black;
}

/*
* Window component
* ****************/

.window {
	background-color: #333;
	border: 1rem solid #1a1a1a;
	box-shadow: 2rem 2rem #1a1a1a;
	color: white;

	margin: 130px auto;
	width: 300rem;
}

.window__inner {
	box-shadow: inset 1rem 1rem #4d4d4d;
	min-height: 80rem;
	height: 100%;
}

/* Window title bar */

.window_title {
	padding: 2rem;
	padding-right: 1rem;
	font-family: 'Deluxe', sans-serif;
}

.window_title__inner {
	align-items: center;
	background-color: #1a1a1a;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 16rem;
	padding: 2rem;
}

.window_title__inner span {
	font-size: 8rem;
}

/* Window content */

.window_content {
	padding: 2rem;
}

.window_content__inner {
	padding: 2rem;
	font-size: 9rem;
}

/*
* WindowButton component
* **********************/

.window_button {
	align-items: center;
	background-color: #333;
	border: none;
	box-shadow: inset 1rem 1rem #4d4d4d;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: 'Deluxe', sans-serif;
	height: 16rem;
	justify-content: center;
	outline: none;
	text-decoration: none;
	width: 16rem;
}

.window_button img {
	display: block;
	height: 16rem;
	opacity: .3;
}

.window_button:hover img {
	opacity: 1;
}

.window_button:active {
	background-color: #222;
	box-shadow: inset -1rem -1rem #4d4d4d;
}

.window_button__group {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
