@import url('/static/css/reset.css');
/*
* Custom fonts
* ************/

@font-face {
	font-family: 'Sysfont';
	src: url('/static/fonts/sysfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Deluxe';
	src: url('/static/fonts/deluxe.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('/static/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}
