/*
* Common HTML elements
* ********************/

html {
	font-size: 2px;
}

body {
	background: #333;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--text: #fff;

	--surface: #3d3d3d;
	--surface-glow: #6d6d6d;
	--surface-shadow: #191919;

	--title: #191919;
}

body.light {
	--color: black;
}

/*
* Desktop
* *******/

.desktop {
	position: relative;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	padding: 24rem 4rem 4rem 2rem;
	box-sizing: border-box;
	background: red;
}

.desktop .taskbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 20rem;
	width: 100%;
	box-sizing: border-box;
	background: var(--surface);
	box-shadow:
		1rem 1rem var(--surface-shadow),
		inset 1rem 1rem var(--surface-glow);
}
