/*
* Common HTML elements
* ********************/

html {
	font-size: 2px;
}

body {
	background: #333;
	font-family: 'OpenSans', sans-serif;
}

/*
* Custom properties
* *****************/

body.dark {
	--text: #fff;

	--surface: #3d3d3d;
	--surface-glow: #6d6d6d;
	--surface-shadow: #191919;

	--title: #191919;
}

body.light {
	--color: black;
}

/*
* Desktop
* *******/

.desktop {
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
}

.desktop .taskbar {
	height: 20rem;
	background: blue;
}

.desktop section {
	position: relative;
	height: calc(100vh - 20rem);
	height: calc(100dvh - 20rem);
	padding: 2rem 4rem 4rem 2rem;
	box-sizing: border-box;
}
