body {
	margin: 0px;
	font-size: 9pt;
	line-height: 1.2em;
	font-family: 'OpenSans', sans-serif;
	padding-top: 5mm;

	--blue: #000081;
	--gray: #c3c3c3;
	--dark-gray: #808388;
	--light-gray: #e0e3e8;
	--aqua: #55aaaa;
}

header {
	display: flex;
	justify-content: flex-end;
	width: 160mm;
	margin: 0 auto;
}

header a {
	padding: 6pt;
	padding-left: 25pt;
	font-family: 'Deluxe', sans-serif;
	text-decoration: none;
	line-height: 1em;
	border: 1pt solid var(--blue);
	color: var(--blue);
	background-color: var(--gray);
	background-image: url('/static/icons/download.svg');
	background-repeat: no-repeat;
	background-position: 8pt;
	box-shadow:
		2pt 2pt var(--blue),
		inset 1pt 1pt var(--light-gray);
}

header a:hover {
	background-color: var(--light-gray);
}

header a:active {
	background-color: var(--dark-gray);
	box-shadow:
		1pt 1pt var(--blue),
		inset -1pt -1pt var(--light-gray);
}

@media print {
	header {
		display: none !important;
	}
}

.document {
	width: 160mm;
	margin: 0 auto;
}

.document hr {
	border: none;
	display: block;
	height: 1pt;
	box-shadow: 0pt 1pt var(--gray);
	background: var(--light-gray);
	margin: 1em auto;
}

.document p {
	margin-bottom: 1em;
	margin-left: 8pt;
}

.document strong {
	font-weight: bold;
}

.document em {
	font-size: 8pt;
}

.document ul {
	padding-left: 2pt;
}

.document ul li {
	margin-left: 8pt;
	list-style: square;
}

.document ul li strong {
	font-weight: bold;
}

.document ul li p {
	margin: 0;
	padding: 0;
}

.document a {
	color: var(--aqua);
}

.document h1 {
	font-size: 26pt;
	font-weight: bold;
	width: 50mm;
	line-height: 1em;
	color: var(--blue);
	float: left;
	padding: 8mm 4mm;
}

.document h2 {
	font-family: 'Deluxe', sans-serif;
	font-size: 9pt;
	margin-bottom: 1em;
	padding: 0.5em;
	padding-top: 0.8em;
	background: var(--blue);
	color: white;
	line-height: 1em;
}

.document h3 {
	font-size: 11pt;
	font-weight: bold;
	line-height: 1em;
	border-left: 3pt solid var(--aqua);
	padding-left: 5pt;
}

.document h3 + p {
	font-size: 9pt;
	line-height: 1.8em;
	border-left: 3pt solid var(--aqua);
	padding-left: 5pt;
	margin-left: 0;
}

.document h4 {
	font-size: 10pt;
	font-weight: bold;
	line-height: 1.8em;
	border-left: 3pt solid var(--aqua);
	padding-left: 5pt;
	margin: 1.1em 0;
}

.document blockquote {
	font-size: 7pt;
	line-height: 1em;
	margin-right: 3em;
}

/* Custom attributes */

.document .clear {
	clear: both;
}

.document .title {
	color: var(--blue);
	font-weight: bold;
	margin: 0;
	font-size: 12pt;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

.document .title + p {
	opacity: 0.7;
	font-size: 8pt;
	margin-left: 0;
}

.document .avatar {
	float: left;
	width: 34mm;
	background: var(--gray);
	padding: 3pt;
	box-shadow: 2pt 2pt var(--blue);
}

.document .avatar img {
	display: block;
	margin: 0;
	width: 100%;
}

.document .window {
	margin: 0;
	margin-top: 2em;
	box-shadow: 2pt 2pt var(--blue);
	padding-top: 0.8em;
}

.document .window + ul {
	padding: 1em;
	margin-bottom: 1em;
	background: var(--light-gray);
	box-shadow: 2pt 2pt var(--blue);
}

.document .window + ul li {
	font-size: 10pt;
	line-height: 1.5em;
	margin-left: 12pt;
}

.document .window + ul li strong {
	font-weight: bold;
}

.document .xp {
	break-before: page;
	display: flex;
	justify-content: space-between;
	margin-top: 10mm;
}

.document .decorative-footer {
	border: none;
	box-shadow: none;
	height: 8mm;
	margin-top: 27mm;
	position: relative;
	overflow: visible;
	background: var(--aqua);
}

.document .decorative-footer::after {
	content: '';
	position: absolute;
	right: 4mm;
	top: -4mm;
	border: none;
	box-shadow: none;
	height: 8mm;
	width: 25mm;
	background-image: url(/static/img/win95-icons.png);
	background-repeat: no-repeat;
	background-size: cover;
}
