<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />

		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/layouts/base.css" />

		<title>{{ title }}</title>
	</head>
	<body class="light">
		<main class="desktop">
			<div class="taskbar-area">
				<ok-taskbar task-button="{{ title }}"></ok-taskbar>
			</div>
			<div class="window-area">
				<ok-window id="window" title="{{ title }}">
					{{ content | safe }}
				</ok-window>
			</div>
		</main>

		<script src="/static/js/components/ok-taskbar.js" type="module"></script>
		<script src="/static/js/components/ok-window.js" type="module"></script>

		<script>
			window.litDisableBundleWarning = true;
		</script>
	</body>
</html>
