<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex, nofollow">

		<link rel="stylesheet" href="/static/css/main.css"/>
		<link rel="stylesheet" href="/static/css/layouts/base.css"/>
		<title>{{ title }}</title>

		<script>
			setTimeout(() => {
			//	const okWindow = document.getElementById('window');
			//	okWindow.className = "maximized"
			}, 5000);
		</script>
	</head>
	<body class="dark">
		<main class="desktop">
			<aside class="taskbar">
			</aside>
			<section>
				<ok-window id="window" title="{{ title }}">
					{{ content | safe }}
				</ok-window>
			</section>
		</main>

		<script
			type="module"
			src="/static/js/components/ok-window/ok-window.js">
		</script>
	</body>
</html>
